<h1>Book details</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @book.title %></td>
				<td><%= @book.opinion %></td>
				<td><a>Edit</a></td>
				<td><a>destroy</a></td>
			</tr>
	</tbody>
</table>

