<br>
 <div class="row">
 	<div class="col-xs-3">
      <%= render 'users/profile', user: @user %>
     </div>
    <div class="col-xs-3">
      <%= render 'travel_images/index', travel_images: @travel_images %>
    </div>
 </div>
